.register {
  height: 100vh;
  background-color: #b6b3eb;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        p {
          color: red;
          font-weight: bold;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rebeccapurple;
          color: #fff;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .right {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://vn-live-01.slatic.net/p/4ae83987b3323025809f737933a4be41.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        cursor: pointer;
        background-color: #fff;
        color: rebeccapurple;
        border-radius: 5px;
        font-weight: bold;
      }
    }
  }
}
