@import "../../style.scss";
.navBar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: themed("bg");
    color: themed("textColor");
    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      span {
        font-weight: bold;
        font-size: 20px;
        color: #2b2a71;
        color: themed("logo");
      }
      svg {
        cursor: pointer;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        position: relative;

        input {
          outline: none;
          border: none;
          width: 500px;
          background-color: transparent !important;
          color: themed("textColor");
          @include tablet {
            width: 200px;
          }
          @include mobile {
            display: none;
          }
        }
        .list {
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          padding-top: 5px;
          background-color: themed("bg");
          margin-top: 3px;
          border-radius: 5px;
          overflow: hidden;
          border: 1px solid themed("border");

          .item {
            &:hover {
              background-color: themed("bgSoft");
            }
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              height: 40px;
              width: 40px;
              object-fit: cover;
              border-radius: 50%;
            }
            span {
              font-size: 16px;
              color: themed("textColor");
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      @include mobile {
        display: none;
      }
      .user {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        position: relative;
        @include tablet {
          display: none;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        .menu {
          position: absolute;
          right: 0;
          top: 110%;
          border: 1px solid themed("border");
          border-radius: 8px;
          color: themed("textColor");
          background-color: themed("bg");
          overflow: hidden;
          .option {
            padding: 10px;
            cursor: pointer;
            width: 100px;
            &:hover {
              background-color: themed("bgSoft");
            }
          }
        }
      }
    }
  }
}
